
/* TAG's */
form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 500px;
    /* Para ver as bordas do formulário */
    padding: 30px 20px 10px ;
    border: 3px solid #02b5ec;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #d83b1f;
    background-color: rgba(9, 231, 247, 0.295);
    text-align: center;
   
}

input{
    color: #070707;
    background-color: hsla(49, 85%, 47%, 0.349);
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
    width: 250px; 
    font-weight: bold;  
    
}

input::placeholder {
    color: #ff00006c;
    background-color: #e22bd300;
    
    
  }


label{
    color: rgb(15, 15, 15);
    display: block;
    float: left;
    margin: 0 auto;
    font-family: Stencil Std, fantasy;
    
}

/* ID's */
#body{
    margin: 0;
    padding:10%;
    background-color: #67d8d8c4;
    font-size: 20px;
    
}

#nome_usuario{
    margin-left: 138px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#sobrenome_usuario{
    margin-left: 68px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#email_usuario{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 123px;
}

#senha_usuario{
    margin-left: 129px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#repitirsenha_usuario{
    margin-left: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* CLASS's */

.button_div{
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 200px;
    display: block;
    
     
}

.efeito{
    /*border-radius: 10px;
    background-color: #b11bb12d;
    box-shadow: 5px 3px 3px #08f71ca2;
    */

    border: none;
    color: #fa1111;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    line-height: 24px;
    border-radius: 10px;
    position:relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    box-shadow: 5px 3px 3px #ec0909;

}

.efeito-1{

    background-color: #48ff00;
    font-family: Stencil Std, fantasy;
       

}


.efeito-1:hover{
    background: #2600ff;
    color:#2be243;
    box-shadow: 5px 3px 3px #2be243;
     
}

