/* TAG's */
*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
 }


form {
  /* Apenas para centralizar o form na página */
  margin: 0 auto;
  width: 570px;
  height: 400px;

  /* Para ver as bordas do formulário */
  padding: 5px 10px 10px ;
  text-align: center;
  border: 3px solid #02b5ec;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #1f3bd8;
  background-color: rgba(9, 231, 247, 0.295);
  border-radius: 50%;
 
}


input{
  color: #070707;
  background-color: hsla(49, 85%, 47%, 0.349);
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  width: 200px; 
  font-weight: bold;  
  
}

input::placeholder {
  color: #d350506c;
  background-color: #e22bd300;
  
  
}

label{
  color: rgb(15, 15, 15);
  display: block;
  margin: 0 auto;
  font-family: Stencil Std, fantasy;
  
  
}
a.links{
  display: none;
}

/* ID's */
#body{
  margin: 0;
  padding:8%;
  background-color: #0b54f3dc;
  font-size: 20px;
  
}

#esqueci_senha{

  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #0e0d0d;
  font-size: small;
  text-decoration: underline overline;
  margin-left: 40%;
}
#cadastro{

  font-family:'Times New Roman', Times, serif;
  color: #080808;
  font-size: medium;
  text-decoration: overline;
  }

/* CLASS's */

.container figure.avatar{
  width: 110px;
  height: 110px;
  margin-left: 270px;
  margin-bottom: 25px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #7cf30d;
  position:relative;
}

.container figure.avatar img{
  width: 135px;
  height: 130px;
  position:relative;
  margin-left: 25px;
}

.button_div{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: block;

  
   
}

.efeito{
 
  border: none;
  color: #2600ff;
  padding: 5px;
  margin: 10px;
  font-size: 15px;
  line-height: 24px;
  border-radius: 10px;
  position:relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
  box-shadow: 5px 3px 3px #2600ff;
  

}

.efeito-1{

  background: linear-gradient(to left,#48ff00, #60f04dda);
  font-family: Stencil Std, fantasy;
     

}


.efeito-1:hover{
  background: linear-gradient(to right, #080808,#4c71eb);
  color:#7cf30d;
  box-shadow: 5px 3px 3px #2be243;
  border-radius: 50%;
   
}
.efeito-2{

  background-color: #eaf8e570;
  font-family: Stencil Std, fantasy;

}

.efeito-2:hover{
  background: linear-gradient(to right, #2600ff,#6f8ff7);
  color:#2be243;
  box-shadow: 5px 3px 3px #2be243;
  border-radius: 50%;
   
}


