*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
 }
   
  /* remove a linha dos links */
  a{
    text-decoration: none;
  }
   
  /* esconde as ancoras da tela */
  a.links{
    display: none;
  }